spring:
  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      initial-size: 10
      max-size: 30
      max-idle-time: 30m

logging:
  level:
    root: WARN
    com.playground: INFO
    io.r2dbc: WARN

management:
  endpoint:
    health:
      show-details: never
