spring:
  application:
    name: api-webflux
  profiles:
    active: local

  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      write-dates-as-timestamps: false

  r2dbc:
    url: r2dbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:playground}
    username: ${DB_USER:playground}
    password: ${DB_PASSWORD:playground}
    pool:
      initial-size: 60
      max-size: 60
      max-idle-time: 30m

server:
  port: 8081
  shutdown: graceful

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    com.playground: DEBUG
    io.r2dbc: DEBUG
